.table-card {
  background: var(--bg-black-card);
  border: var(--border-subtle);
  border-radius: 15px;
  margin: 16px;
  overflow: hidden;

  .league-table {
    width: 100%; border-collapse: collapse;
    thead th { background: var(--bg-black-soft); color: var(--accent-red); padding: 12px; font-size: 0.7rem; }
    tbody tr { border-bottom: 1px solid #111; }
    td { padding: 12px 8px; text-align: center; font-size: 0.85rem; }

    .team-cell {
      display: flex; align-items: center; gap: 10px; text-align: left;
      img { width: 28px; height: 28px; object-fit: contain; } // Escudos Tabla
    }
    .pts { font-weight: 900; color: var(--accent-red); }
  }
  .img{
      height: 20px;
      width: 20px;
  }
}