.match-detail-header {
  background: linear-gradient(to bottom, #1a0005, var(--bg-black-deep));
  padding: 40px 20px;
  text-align: center;
  border-bottom: var(--border-subtle);

  .vs-container {
    display: flex; justify-content: center; align-items: center; gap: 20px;
    .score-display { font-size: 3.5rem; font-weight: 900; text-shadow: var(--neon-glow); }
    
    .team-info img {
      width: 80px; height: 80px; object-fit: contain; // Escudos Detalle
    }
  }
}

.input-card {
  background: var(--bg-black-card);
  border: var(--border-subtle);
  border-radius: 15px;
  margin: 16px;
  padding: 20px;
}